
.cv{
  text-align: center;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 50px;
}

.container{
  width: 700px;
  margin: 40px auto;
  padding-bottom: 40px;
  text-align: center;
}
.img{
  padding-left: 400px;
}
.white{
  padding: 30px;
  border: 30px;
  background-color: royalblue;
  color: white;
}

.white2{
  padding: 30px;
  border: 30px;
  background-color: whitesmoke;
}
.white3{
  padding: 30px;
  border: 30px;
  background-color: royalblue;
  color: white;
}
.white4{
  padding: 30px;
  border: 30px;
  background-color: whitesmoke;
}
.white5{
  padding: 30px;
  border: 30px;
  background-color: royalblue;
  color: white;
}
.white6{
  padding: 30px;
  border: 30px;
  background-color: whitesmoke;
}  
.white7{
  padding: 30px;
  border: 30px;
  background-color: royalblue;
  color: white;
}  

